* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#000;
    padding:15px 6%;
    flex-wrap:wrap;
}

.logo img{
    width:90px;
    height:auto;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
    flex-wrap:wrap;
}

.nav-buttons{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
}
  .nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .nav-links li a:hover {
    background-color: rgba(204, 168, 202, 0.11);
    border-radius: 5px;
  }
  
.menu-toggle{

    display:none;

    font-size:30px;

    color:white;

    cursor:pointer;

}

@media(max-width:992px){

.navbar{

    position:relative;

    flex-wrap:wrap;

}

.menu-toggle{

    display:block;

}

.nav-links{

    display:none;

    flex-direction:column;

    position:absolute;

    top:100%;

    left:0;

    width:100%;

    background:#000;

    padding:20px 0;

    text-align:center;

    z-index:999;

}

.menu-toggle{
    margin-left:auto;
}

.navbar{
    justify-content:space-between;
} 

.nav-links.active{

    display:flex;

}

.nav-links li{

    margin:15px 0;

}

.nav-buttons{

    display:none;

}

}

  .btn {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .login,
  .register {
    color: white;
    border: 1px solid gray;
  }
  
  .login:hover,
  .register:hover {
    background-color: white;
    color: black;
  }
  
  /* SELL YOUR CAR BUTTON */
  .sell-car {
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    border: none;
  }
  
  .sell-car span {
    margin-left: 8px;
    font-size: 18px;
    font-weight: bold;
  }
  .swiper-slide {
  position: relative;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(36, 36, 189, 0.863);
  text-align: center;
}

.image-text h1 {
  font-size: 2.8em;
  font-family: 'Brush Script MT', cursive;
  font-weight: normal;
  margin-bottom: 10px;
}

.image-text h2 {
  font-size: 2em;
  font-family: 'Impact', sans-serif;
  letter-spacing: 2px;
}

body {
  margin: 0;

}

.slider-container{
    width:100%;
    height:100vh;
    overflow:hidden;
    position:relative;
}

.swiper-slides{
    display:flex;
    height:100%;
}

.image-slide{
    min-width:100%;
    height:100%;
}

.image-slide img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.image-text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}


/* Light/Dark mode toggle styles */
.mode-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
}

/* Light mode styles */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Optional: Smooth transition */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about{

display:flex;

align-items:center;

justify-content:space-between;

gap:60px;

padding:80px 8%;

}

.about-text{

flex:1;

}

.about-image{

flex:1;

}

.about-image img{

width:100%;

border-radius:10px;

display:block;

}

.about h2{

font-size:45px;

margin:20px 0;

}

.about p{

line-height:1.8;

margin-bottom:25px;

}

.insurance{

display:flex;

justify-content:center;

align-items:center;

gap:30px;

flex-wrap:wrap;

padding:60px 8%;

}

.insurance img{

width:170px;

height:90px;

object-fit:contain;

background:white;

padding:15px;

border-radius:8px;

}

@media(max-width:992px){

.about{

flex-direction:column;

text-align:center;

}

.about h2{

font-size:35px;

}

.navbar{

flex-direction:column;

gap:20px;

}

.nav-links{

justify-content:center;

}

.nav-buttons{

justify-content:center;

}

}

@media(max-width:768px){

.image-text h1{

font-size:32px;

}

.image-text h2{

font-size:22px;

}

.image-text h3{

font-size:22px;

}

.about h2{

font-size:28px;

}

.btn,
.giza{

width:100%;

margin-bottom:15px;

}

.insurance img{

width:140px;

height:80px;

}

}


.values{
    width:90%;
    margin:auto;
    padding:80px 0;
    text-align:center;
}

.small-title{
    color:#ff3b30;
    font-size:13px;
    letter-spacing:4px;
    margin-bottom:10px;
    font-weight:600;
}

.values h1{

    font-family:Oswald,sans-serif;
    font-size:60px;
    letter-spacing:2px;
}

.line{
    width:80px;
    height:3px;
    background:#ff3b30;
    margin:18px auto 35px;
}

.description{
    color:#c8c8c8;
    max-width:650px;
    margin:auto;
    line-height:1.8;
    margin-bottom:60px;
}

.value-container{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.card{

    background:#1a1a1a;
    padding:45px 25px;
    border-radius:12px;

    transition:.4s;
    border:1px solid rgba(255,255,255,.05);

    opacity:0;
    transform:translateY(50px);
}

.card.show{

    opacity:1;
    transform:translateY(0);
}

.card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 25px rgba(255,70,50,.18);

    border-color:#ff3b30;
}

.icon{

    width:60px;
    height:60px;

    margin:auto;

    border:1px solid rgba(255,59,48,.4);

    border-radius:15px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#ff3b30;

    font-size:22px;

    margin-bottom:28px;

    transition:.4s;
}

.card:hover .icon{

    background:#ff3b30;
    color:white;
}

.card h3{

    font-family:Oswald,sans-serif;
    letter-spacing:1px;
    margin-bottom:20px;
}

.card p{

    color:#c8c8c8;
    line-height:1.9;
    font-size:14px;
}

@media(max-width:992px){

.value-container{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.values h1{

font-size:45px;

}

.value-container{

grid-template-columns:1fr;

}

}

/*==================================
        TESTIMONIAL SECTION
==================================*/

.testimonial-section{
    width:100%;
    padding:100px 8%;
    background:#1b1b1b;
    color:#fff;
    overflow:hidden;
}

.section-header{
    text-align:center;
    margin-bottom:60px;
}

.section-header span{
    color:#ff3b30;
    letter-spacing:4px;
    font-size:14px;
    font-weight:600;
}

.section-header h1{
    font-size:60px;
    margin:15px 0;
    font-weight:700;
}

.underline{
    width:90px;
    height:4px;
    background:#ff3b30;
    margin:auto;
    border-radius:50px;
}


/*==================================
        SLIDER
==================================*/

.testimonial-wrapper{

    width:100%;
    position:relative;
    overflow-y: hidden;

}

.testimonial-track{

    display:flex;
    width: 100%;
    transition:transform .7s ease-in-out;

}

.testimonial-slide{

    flex:0 0 100%;
    width:100%;
    box-sizing:border-box;
    background:#232323;
    border-radius:20px;
    padding:50px;
    border:1px solid rgba(255,255,255,.08);

}

/*==================================
        QUOTE
==================================*/

.quote{

    color:#ff3b30;
    font-size:60px;
    margin-bottom:25px;

}

.testimonial-text{

    font-size:32px;
    line-height:1.6;
    color:#ddd;
    font-style:italic;
    margin-bottom:40px;

}


/*==================================
        FOOTER
==================================*/

.testimonial-footer{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.profile{

    display:flex;
    align-items:center;
    gap:18px;

}

.profile img{

    width:65px;
    height:65px;
    border-radius:50%;
    object-fit:cover;

}

.profile h3{

    margin-bottom:5px;

}

.profile span{

    color:#9e9e9e;

}

.stars{

    color:#ff3b30;
    font-size:22px;

}


/*==================================
        BUTTONS
==================================*/

.testimonial-controls{

    margin:40px 0;

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.testimonial-btn{

    width:55px;
    height:55px;

    border-radius:50%;

    border:none;

    cursor:pointer;

    background:#2c2c2c;

    color:#fff;

    font-size:18px;

    transition:.3s;

}

.testimonial-btn:hover{

    background:#ff3b30;

}


/*==================================
        DOTS
==================================*/

.testimonial-dots{

    display:flex;
    gap:12px;

}

.dot{

    width:12px;
    height:12px;

    border-radius:50%;

    background:#555;

    transition:.3s;

}

.dot.active{

    background:#ff3b30;
    transform:scale(1.2);

}


/*==================================
        SMALL CARDS
==================================*/

.testimonial-cards{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

}

.testimonial-card{

    background:#232323;

    padding:25px;

    border-radius:15px;

    transition:.4s;

    border:2px solid transparent;

    cursor:pointer;

}

.testimonial-card:hover{

    transform:translateY(-8px);

    border-color:#ff3b30;

}

.testimonial-card.active{

    border-color:#ff3b30;

}

.mini-stars{

    color:#ff3b30;

    margin-bottom:15px;

    font-size:18px;

}

.testimonial-card p{

    color:#cfcfcf;

    line-height:1.6;

    margin-bottom:18px;

}

.testimonial-card h4{

    color:#fff;

}


/*==================================
        RESPONSIVE
==================================*/

@media(max-width:900px){

    .testimonial-slide{

        padding:35px;

    }

    .testimonial-text{

        font-size:22px;

    }

    .testimonial-footer{

        flex-direction:column;
        align-items:flex-start;
        gap:20px;

    }

    .testimonial-cards{

        grid-template-columns:1fr;

    }

}

@media(max-width:600px){

    .section-header h1{

        font-size:40px;

    }

    .testimonial-text{

        font-size:18px;

    }

}

/*=========================
        FOOTER
==========================*/

.footer{

    background:#202c3d;

    color:#fff;

    padding:60px 8% 20px;

}

.footer-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:60px;

}

.footer-column h3{

    margin-bottom:25px;

    font-size:20px;

    font-weight:700;

}

.footer-column p{

    color:#d5d5d5;

    line-height:1.9;

}

.footer-column ul{

    list-style:none;

}

.footer-column ul li{

    margin-bottom:18px;

}

.footer-column ul li a{

    color:#fff;

    text-decoration:none;

    transition:.3s;

}

.footer-column ul li a:hover{

    color:#ff3b30;

    padding-left:6px;

}

.footer-column i{

    color:#ff3b30;

    width:25px;

}

.footer-bottom{

    text-align:center;

    margin-top:60px;

    border-top:1px solid rgba(255,255,255,.15);

    padding-top:25px;

    color:#bdbdbd;

}

@media(max-width:992px){

.footer-container{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.footer-container{

grid-template-columns:1fr;

}

.footer{

text-align:center;

}

}

/*=========================
        About page 
==========================*/

img{
    max-width:100%;
    height:auto;
    display:block;
}

.about-hero{

    min-height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    padding:120px 8%;

    background:#111;
    color:#fff;
}

.about-hero h3{

    color:#ff3b30;
    letter-spacing:4px;
    margin-bottom:20px;
}

.about-hero h1{

    font-size:clamp(2.2rem,5vw,4rem);
    font-family:Oswald,sans-serif;
}

.about-hero p{

    max-width:700px;
    margin-top:20px;
    line-height:1.8;
    color:#d0d0d0;
}

.about-story{

    width:90%;
    margin:auto;

    padding:90px 0;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:60px;

    align-items:center;
}

.story-image img{

    width:100%;
    border-radius:12px;
}

.story-text h2{

    font-size:clamp(2rem,4vw,3rem);

    margin-bottom:25px;

    font-family:Oswald,sans-serif;
}

.story-text p{

    line-height:2;
    color:#bdbdbd;
    margin-bottom:18px;
}

.why-us{

    width:90%;
    margin:auto;
    padding:90px 0;
    text-align:center;
}

.features{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

    margin-top:50px;
}

.feature{

    background:#1a1a1a;

    padding:40px 30px;

    border-radius:12px;

    transition:.4s;
}

.feature:hover{

    transform:translateY(-10px);
}

.feature i{

    font-size:45px;

    color:#ff3b30;

    margin-bottom:25px;
}

.stats{

    width:100%;

    padding:90px 8%;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

    text-align:center;

    background:#ff3b30;

    color:white;
}

.stats h1{

    font-size:55px;
}

.stats p{

    margin-top:10px;
}

.mission{

    width:90%;

    margin:auto;

    padding:90px 0;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:40px;
}

.mission div{

    background:#1a1a1a;

    padding:40px;

    border-radius:10px;
}

.mission h2{

    margin-bottom:20px;
}

.cta{

    text-align:center;

    padding:90px 8%;

    background:#111;

    color:white;
}

.cta h2{

    font-size:clamp(2rem,5vw,3rem);

    margin-bottom:30px;
}

.cta-btn{

    display:inline-block;

    padding:15px 35px;

    background:#ff3b30;

    color:white;

    text-decoration:none;

    border-radius:6px;

    transition:.4s;
}

.cta-btn:hover{

    background:#d62820;
}

@media(max-width:992px){

.about-story{

grid-template-columns:1fr;

}

.features{

grid-template-columns:repeat(2,1fr);

}

.stats{

grid-template-columns:repeat(2,1fr);

}

.mission{

grid-template-columns:1fr;

}

}

@media(max-width:768px){

.about-hero{

padding:90px 25px;

}

.about-story{

gap:35px;

padding:60px 0;

}

.features{

grid-template-columns:1fr;

}

.stats{

grid-template-columns:1fr;

padding:70px 25px;

}

.feature{

padding:35px 25px;

}

.story-text{

text-align:center;

}

.mission{

padding:70px 0;

}

}

@media(max-width:480px){

.about-hero h1{

font-size:34px;

}

.story-text h2{

font-size:32px;

}

.feature{

padding:30px 20px;

}

.stats h1{

font-size:42px;

}

.cta h2{

font-size:32px;

}

}

/*=========================
        Automate 
==========================*/

/*==============================
        GOOGLE RESET
==============================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#111;
    color:#fff;
    overflow-x:hidden;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

section{
    width:100%;
}

/*==============================
            NAVBAR
==============================*/

.navbar{

    width:100%;

    position:fixed;

    top:0;

    left:0;

    padding:18px 8%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:rgba(0,0,0,.85);

    backdrop-filter:blur(12px);

    z-index:1000;

}

.logo img{

    width:150px;

}

.nav-links{

    display:flex;

    align-items:center;

    gap:35px;

}

.nav-links a{

    color:white;

    font-size:16px;

    font-weight:500;

    transition:.3s;

}

.nav-links a:hover{

    color:#ff3b30;

}

.nav-links a.active{

    color:#ff3b30;

}

.nav-buttons{

    display:flex;

    align-items:center;

    gap:15px;

}

.btn{

    padding:12px 22px;

    border-radius:40px;

    font-weight:600;

    transition:.4s;

}

.login{

    color:white;

    border:1px solid rgba(255,255,255,.2);

}

.login:hover{

    background:white;

    color:black;

}

.register{

    color:white;

    border:1px solid rgba(255,255,255,.2);

}

.register:hover{

    background:white;

    color:black;

}

.sell-car{

    background:#ff3b30;

    color:white;

}

.sell-car:hover{

    background:#d62d22;

}

.sell-car i{

    margin-left:8px;

}

.menu-toggle{

    display:none;

    font-size:30px;

    cursor:pointer;

    color:white;

}

/*==============================
          HERO SECTION
==============================*/

.services-hero{

    height:100vh;

    background:url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?w=1800") center/cover;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

}

.hero-overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.65);

}

.hero-content{

    position:relative;

    z-index:2;

    text-align:center;

    width:90%;

    max-width:850px;

}

.hero-content span{

    color:#ff3b30;

    letter-spacing:4px;

    font-size:15px;

    font-weight:600;

}

.hero-content h1{

    font-size:65px;

    margin:25px 0;

    font-family:'Oswald',sans-serif;

    line-height:1.1;

}

.hero-content p{

    color:#ddd;

    line-height:1.8;

    font-size:18px;

    margin-bottom:40px;

}

.hero-btn{

    display:inline-block;

    padding:16px 40px;

    background:#ff3b30;

    color:white;

    border-radius:40px;

    transition:.4s;

    font-weight:600;

}

.hero-btn:hover{

    background:white;

    color:black;

}

/*======================================
        SECTION TITLE
======================================*/

.section-title{
    text-align:center;
    margin:100px auto 70px;
}

.section-title span{
    color:#ff3b30;
    font-size:15px;
    letter-spacing:4px;
    font-weight:600;
}

.section-title h2{
    font-family:'Oswald',sans-serif;
    font-size:55px;
    margin-top:15px;
    margin-bottom:20px;
}

.line{
    width:90px;
    height:4px;
    background:#ff3b30;
    margin:auto;
    border-radius:30px;
}


/*======================================
        SERVICES SECTION
======================================*/

.services-section{
    width:90%;
    margin:auto;
    padding-bottom:100px;
}

.service-box{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:70px;
    margin-bottom:120px;
}

.service-box.reverse{
    flex-direction:row-reverse;
}


/*======================================
            IMAGE
======================================*/

.service-image{
    flex:1;
    overflow:hidden;
    border-radius:18px;
}

.service-image img{
    width:100%;
    height:500px;
    object-fit:cover;
    border-radius:18px;
    transition:.5s;
}

.service-image:hover img{
    transform:scale(1.08);
}


/*======================================
        CONTENT
======================================*/

.service-content{
    flex:1;
}

.service-content h2{
    font-family:'Oswald',sans-serif;
    font-size:45px;
    margin-bottom:20px;
    color:#fff;
}

.service-content p{
    color:#cfcfcf;
    line-height:1.9;
    margin-bottom:30px;
    font-size:17px;
}

.service-content ul{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.service-content li{
    color:#ddd;
    font-size:17px;
}

.service-content li i{
    color:#ff3b30;
    margin-right:12px;
}


/*======================================
        HOVER CARD EFFECT
======================================*/

.service-box{
    background:#181818;
    padding:45px;
    border-radius:20px;
    border:1px solid rgba(255,255,255,.05);
    transition:.4s;
}

.service-box:hover{
    transform:translateY(-10px);
    border-color:#ff3b30;
    box-shadow:0 20px 40px rgba(255,59,48,.2);
}


/*======================================
        BUTTON
======================================*/

.service-content .read-more{

    display:inline-block;

    margin-top:35px;

    padding:14px 34px;

    background:#ff3b30;

    color:white;

    border-radius:35px;

    transition:.4s;

    font-weight:600;

}

.service-content .read-more:hover{

    background:white;

    color:black;

}


/*======================================
        RESPONSIVE
======================================*/

@media(max-width:1100px){

.service-box{

    gap:40px;

}

.service-content h2{

    font-size:36px;

}

}


@media(max-width:900px){

.service-box,
.service-box.reverse{

    flex-direction:column;

}

.service-image{

    width:100%;

}

.service-image img{

    height:380px;

}

.service-content{

    text-align:center;

}

.service-content ul{

    align-items:center;

}

}


@media(max-width:600px){

.section-title h2{

    font-size:40px;

}

.service-box{

    padding:25px;

}

.service-image img{

    height:260px;

}

.service-content h2{

    font-size:30px;

}

.service-content p{

    font-size:15px;

}

}

/*======================================
        CALL TO ACTION
======================================*/

.service-cta{

    width:100%;
    padding:120px 8%;

    background:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
    url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?w=1800") center/cover;

    text-align:center;

}

.cta-content h2{

    font-family:'Oswald',sans-serif;

    font-size:55px;

    color:#fff;

    margin-bottom:20px;

}

.cta-content p{

    max-width:700px;

    margin:auto;

    color:#d8d8d8;

    line-height:1.8;

    margin-bottom:40px;

}

.cta-btn{

    display:inline-block;

    padding:16px 45px;

    background:#ff3b30;

    color:white;

    border-radius:40px;

    font-weight:600;

    transition:.4s;

}

.cta-btn:hover{

    background:white;

    color:black;

    transform:translateY(-5px);

}

/*======================================
            FOOTER
======================================*/

.footer{

    background:#0a0a0a;

    padding:80px 8% 20px;

}

.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1.5fr;

    gap:50px;

}

.footer-column h2{

    font-family:'Oswald',sans-serif;

    color:#ff3b30;

    margin-bottom:20px;

}

.footer-column h3{

    color:#fff;

    margin-bottom:20px;

}

.footer-column p{

    color:#bdbdbd;

    line-height:1.8;

    margin-bottom:12px;

}

.footer-column ul{

    padding:0;

}

.footer-column ul li{

    margin-bottom:15px;

}

.footer-column ul li a{

    color:#bdbdbd;

    transition:.3s;

}

.footer-column ul li a:hover{

    color:#ff3b30;

    padding-left:8px;

}

.footer-column i{

    color:#ff3b30;

    margin-right:10px;

}

.social-icons{

    display:flex;

    gap:15px;

    margin-top:25px;

}

.social-icons a{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#1b1b1b;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    transition:.4s;

}

.social-icons a:hover{

    background:#ff3b30;

    transform:translateY(-6px);

}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.08);

    margin-top:60px;

    padding-top:25px;

    text-align:center;

    color:#8f8f8f;

}

/*======================================
        MOBILE NAVBAR
======================================*/

@media(max-width:992px){

.nav-links{

    position:fixed;

    top:80px;

    right:-100%;

    width:280px;

    height:calc(100vh - 80px);

    background:#111;

    flex-direction:column;

    justify-content:flex-start;

    align-items:center;

    padding-top:50px;

    gap:30px;

    transition:.4s;

    z-index:999;

}

.nav-links.active{

    right:0;

}

.nav-buttons{

    display:none;

}

.menu-toggle{

    display:block;

}

}

/*======================================
        TABLET
======================================*/

@media(max-width:992px){

.hero-content h1{

    font-size:50px;

}

.footer-container{

    grid-template-columns:repeat(2,1fr);

}

}

/*======================================
        MOBILE
======================================*/

@media(max-width:768px){

.hero-content h1{

    font-size:38px;

}

.hero-content p{

    font-size:16px;

}

.cta-content h2{

    font-size:38px;

}

.footer-container{

    grid-template-columns:1fr;

    text-align:center;

}

.social-icons{

    justify-content:center;

}

.section-title h2{

    font-size:38px;

}

}

/*======================================
        SMALL PHONES
======================================*/

@media(max-width:480px){

.logo img{

    width:120px;

}

.hero-content h1{

    font-size:32px;

}

.hero-content span{

    font-size:13px;

}

.hero-btn{

    width:100%;

    text-align:center;

}

.cta-content h2{

    font-size:30px;

}

.cta-btn{

    width:100%;

    text-align:center;

}

.service-box{

    padding:20px;

}

.footer{

    padding:60px 20px;

}

}

/*======================================
        SCROLL ANIMATIONS
======================================*/

.service-box,
.process-card,
.choose-card,
.stat{

    opacity:0;

    transform:translateY(50px);

    animation:fadeUp .8s forwards;

}

.service-box:nth-child(2){

    animation-delay:.2s;

}

.service-box:nth-child(3){

    animation-delay:.4s;

}

.service-box:nth-child(4){

    animation-delay:.6s;

}

.process-card:nth-child(2){

    animation-delay:.2s;

}

.process-card:nth-child(3){

    animation-delay:.4s;

}

.process-card:nth-child(4){

    animation-delay:.6s;

}

@keyframes fadeUp{

    to{

        opacity:1;

        transform:translateY(0);

    }

}



